In [1]:
# Importing all the required libraries.


import pandas as pd
import numpy as np

In [2]:
# Reading the dataset files using pandas.

df = pd.read_csv('train.csv')

In [3]:
df.shape

(42000, 785)

In [4]:
df.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df["label"].value_counts()

1    4684
7    4401
3    4351
9    4188
2    4177
6    4137
0    4132
4    4072
8    4063
5    3795
Name: label, dtype: int64

In [6]:
# Separating the X and Y variable

y=df['label']

## Dropping the variable 'label' from X variable 
X=df.drop('label',axis=1)

In [7]:
X.shape

(42000, 784)

In [8]:
y.shape

(42000,)

In [9]:
X=np.array(X).reshape(42000,28,28,1)

In [10]:
X.shape

(42000, 28, 28, 1)

In [11]:
# Scaling the input data


X=X/255

In [12]:
# Importing to_categorical library from tensorflow.

from tensorflow.keras.utils import to_categorical

In [13]:
y=to_categorical(y,num_classes=10)

In [14]:
y.shape

(42000, 10)

In [15]:
# Importing libraries required to build a CNN model.

from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import Dense,Flatten,Conv2D,MaxPool2D

In [16]:
# Building a CNN model.

model = Sequential()
model.add(Conv2D(16,(3,3),activation="relu",input_shape = (28,28,1)))
model.add(MaxPool2D())
model.add(Conv2D(32,(3,3),activation="relu"))
model.add(MaxPool2D())
model.add(Flatten())
model.add(Dense(10,activation="softmax"))

In [17]:
# Reports the strength of the relationship between the model and the dependent variable.

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d (Conv2D)             (None, 26, 26, 16)        160

 max_pooling2d (MaxPooling2D  (None, 13, 13, 16)       0
 )

 conv2d_1 (Conv2D)           (None, 11, 11, 32)        4640

 max_pooling2d_1 (MaxPooling  (None, 5, 5, 32)         0
 2D)

 flatten (Flatten)           (None, 800)               0

 dense (Dense)               (None, 10)                8010

=================================================================
Total params: 12,810
Trainable params: 12,810
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Defines the loss function, the optimizer and the metrics.
model.compile(loss = "categorical_crossentropy",metrics = ["accuracy"])

In [19]:
# Training the model with the given inputs.

model.fit(X, y, epochs=10, batch_size=32)

Epoch 1/10
1313/1313 [==============================] - 25s 18ms/step - loss: 0.2343 - accuracy: 0.9313
Epoch 2/10
1313/1313 [==============================] - 24s 18ms/step - loss: 0.0796 - accuracy: 0.9760
Epoch 3/10
1313/1313 [==============================] - 24s 18ms/step - loss: 0.0600 - accuracy: 0.9813
Epoch 4/10
1313/1313 [==============================] - 23s 18ms/step - loss: 0.0509 - accuracy: 0.9849
Epoch 5/10
1313/1313 [==============================] - 23s 18ms/step - loss: 0.0438 - accuracy: 0.9872
Epoch 6/10
1313/1313 [==============================] - 24s 18ms/step - loss: 0.0395 - accuracy: 0.9885
Epoch 7/10
1313/1313 [==============================] - 23s 18ms/step - loss: 0.0351 - accuracy: 0.9892
Epoch 8/10
1313/1313 [==============================] - 23s 18ms/step - loss: 0.0329 - accuracy: 0.9902
Epoch 9/10
1313/1313 [==============================] - 23s 17ms/step - loss: 0.0304 - accuracy: 0.9914
Epoch 10/10
1313/1313 [==============================] - 22s 17ms/step - loss: 0.0284 - accuracy: 0.9919

In [20]:
# Importing libraries for displaying the image.

import os
import cv2

In [21]:
# Locating the dataset file.
path = 'images_digit/'

# Extracting files from the folder location.
filenames = os.listdir(path)

In [22]:
# Function to preprocessing the image

def get_number(path):
    A=cv2.imread(path,0)
    A=cv2.resize(A,(28,28))
    A=A.reshape(1,28,28,1)/255
    return model.predict(A).argmax()

In [23]:
for file in filenames[1:]:
    print(file,get_number(path+file))

0.jpg 0
1.jpg 1
2.jpg 2
3.jpg 3
4.jpg 9
5.jpg 5
6.jpg 5
7.jpg 2
8.jpg 8
9.jpg 3

In [24]:
filenames

['.ipynb_checkpoints',
 '0.jpg',
 '1.jpg',
 '2.jpg',
 '3.jpg',
 '4.jpg',
 '5.jpg',
 '6.jpg',
 '7.jpg',
 '8.jpg',
 '9.jpg']